/*По умолчанию*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
    background-color: #F9F7F4;
    color: black;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


/*Шапка, меню*/

.banner {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.6) 100%), url(./materials/header-img.png) no-repeat center center;
    width: 100%;
    height: 488px;
    background-size: cover;
    margin: 0 auto;
}

.menu {
    height: 88px;
    display: flex;
    align-items: center;
}

.logo-tablet-more {
    display: none;
}

.header {
    width: 320px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__ul {
    display: none;
}

.header__phone {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    line-height: 142%;
    letter-spacing: 0;
}

.content {
    text-align: center;
    color: #fff;
}

.content__h1 {
    width: 360px;
    font-size: 35px;
    font-weight: 700;
    line-height: 112%;
    letter-spacing: 2%;
    margin: 52px auto 40px auto;
    position: relative;
    top: -1px;
}

.content__p {
    font-size: 16px;
    font-weight: 400;
    width: 310px;
    line-height: 142%;
    letter-spacing: 0%;
    align-items: center;
    margin: 0px auto 40px auto;
    position: relative;
    top: -3px;
}

.content__a {
    color: black;
    background-color: white;
    width: 114px;
    height: 33px;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -1%;
    position: relative;
    top: 1px;
}

@media (min-width: 1024px) {
    .banner {
        height: 831px;
    }

    .header {
        width: 910px;
        height: 30.24px;
    }

    .logo-tablet-more {
        display: block;
    }

    .logo-mobile {
        display: none;
    }

    .nav__ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .nav__tablet-more-a {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 142%;
    }

    .nav__tablet-more-a:hover {
        border-bottom: 1px solid #fff;
    }

    .header__phone {
        font-size: 18px;
    }

    .content__h1 {
        width: 914px;
        height: 315px;
        font-size: 96px;
        line-height: 109%;
        margin: 119px auto 50px auto;
    }

    .content__p {
        font-size: 20px;
        width: 410px;
        height: 56px;
        margin: 0px auto 50px auto;
        top: 0px;
    }

    .content__a {
        color: black;
        background: #fff;
        width: 118px;
        height: 34px;
        border-radius: 10px;
        padding: 5px 20px;
        font-size: 17px;
        font-weight: 400;
        line-height: 142%;
        letter-spacing: -1%;
        top: 5px;
    }

    .content__a:hover {
        cursor: pointer;
        background: #EFA501;
    }

    .content__a:active {
        background: #F8E6BE;
    }
}

@media (min-width: 1920px) {
    .banner {
        height: 830px;
    }

    .header {
        width: 1168px;
    }

    .nav__ul {
        gap: 50px;
    }

    .content__h1 {
        margin: 118px auto 50px auto;
    }

    .content__p {
        width: 562px;
        text-align: center;
    }

    .content__a {
        width: 119px;
        height: 34px;
        top: 4px;
    }
}


/*Выбери свой тур*/

.tour {
    margin-top: 75px;
    margin-bottom: 75px;
}

.text1 {
    margin: 0 auto 48px auto;
    width: 360px;
}

.text1__h2 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 29px;
    line-height: 112%;
    letter-spacing: 2%;
}

.category {
    display: none;
}

.category-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-mobile__ul {
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 142%;
    justify-content: center;
}

.category-mobile__li {
    color: black;
    border-bottom: 2px solid transparent;
}

.category-mobile__li:active {
    color: #EFA501;
    border-bottom: 2px solid #EFA501;
}

.tours {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.tours-card {
    width: 318px;
    height: 318px;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
}

.tours-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.tours-card::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

.price {
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 25px;
    color: white;
}

.price__h3 {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 4%;
}

.price__p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 13px;
    line-height: 142%;
    letter-spacing: -1%;
}

.tours-card__btr {
    display: flex;
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    bottom: 25px;
    left: 25px;
    color: white;
    width: 123px;
    height: 26px;
    font-size: 16px;
    font-weight: 700;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.tours-card__btr img {
    width: 22px;
    height: 15px;
    margin: 0;
}

@media (min-width: 1024px) {
    .tour {
        margin: 135px auto;
    }

    .text1 {
        margin: 0 auto 103px auto;
        width: 700px;
    }

    .text1__h2 {
        font-size: 59px;
        margin-bottom: 36px;
        line-height: 124%;
        letter-spacing: 0%;
    }

    .category {
        display: block;
    }

    .category-mobile {
        display: none;
    }

    .category__ul {
        display: flex;
        list-style: none;
        gap: 30px;
        font-size: 23px;
        font-weight: 700;
        line-height: 122%;
    }

    .category__tablet-more-li {
        color: black;
        border-bottom: 2px solid transparent;
    }

    .category__tablet-more-li:hover {
        border-bottom: 2px solid black;
        cursor: pointer;
    }

    .category__tablet-more-li:active {
        color: #EFA501;
        border-bottom: 2px solid #EFA501;
    }

    .tours {
        display: grid;
        grid-template-columns: repeat(2, 450px);
        gap: 18px;
        justify-content: center;
    }

    .tours-card {
        width: 450px;
        height: 531px;
        border-radius: 50px;
        overflow: hidden;
    }

    .tours-card__img {
        border-radius: 50px;
        transition: 300ms ease;
    }

    .tours-card::after {
        border-radius: 50px;
        cursor: pointer;

    }

    .tours-card:hover .tours-card__img {
        transform: scale(1.2);
    }

    .price {
        width: 350px;
        top: 50px;
        left: 50px;

    }

    .price__h3 {
        font-size: 35px;
        font-weight: 500;
        line-height: 122%;
    }

    .price__p {
        font-size: 17px;
        margin-top: 16px;
    }

    .tours-card__btr {
        bottom: 42px;
        left: 30px;
        width: 199px;
        height: 42px;
        border-radius: 50px;
        font-size: 22px;
        cursor: pointer;
    }

    .tours-card:hover .tours-card__btr {
        background: #286562;
    }

    .tours-card .tours-card__btr:active {
        background: #EFA501;
    }
}

@media (min-width: 1920px) {
    .tour {
        max-width: 1170px;
    }

    .text1 {
        margin-bottom: 104px;
    }

    .text1__h2 {
        line-height: 122%;
    }

    .tours {
        grid-template-columns: repeat(3, 370px);
        gap: 30px;
        max-width: 1170px;
    }

    .tours-card {
        width: 370px;
    }

    .price {
        width: 240px;
    }

    .price__p {
        margin-top: 18px;

    }

    .price__p {
        letter-spacing: -1%;
    }
}


/*Собери свой тур*/

.text2 {
    margin: 0 auto 40px auto;
}

.text2__h2 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 112%;
    letter-spacing: 2%;
}

.text2__p {
    text-align: center;
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
}

.fields {
    margin: 0 auto;
    box-sizing: border-box;
    width: 318px;
    border-radius: 30px;
    padding: 20px 20px 40px 20px;
    background: white;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 28.5px;
    margin-bottom: 30px;
}

.where-tour__select {
    width: 278px;
    height: 46px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 8px;
    background-color: #F9F7F4;
    border: 1px solid #F4F0E9;
    color: #A6A6A6;
    outline: none;
    appearance: none;
    background-image: url(./materials/list-strelca.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.field__label {
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
}

.field__input {
    width: 278px;
    height: 43px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #F9F7F4;
    border: 1px solid #F4F0E9;
    outline: none;
    box-sizing: border-box;
    margin-top: 8px;
}

.field__input::placeholder {
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
}

.textarea {
    font-family: 'Poppins', 'Roboto', sans-serif;
    height: 132px;
    width: 278px;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    background: #F9F7F4;
    border: 1px solid #F4F0E9;
    outline: none;
    box-sizing: border-box;
    resize: none;
    margin-top: 8px;
    margin-bottom: 22px;
}

.radio {
    width: 278px;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.radio__p {
    width: 278px;
    height: 23px;
    margin-bottom: 10px;
}

.btr-radio {
    width: 139px;
    height: 23px;
    display: flex;
    gap: 30px;
}

.btr-radio__label {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btr-radio__input[type="radio"] {
    margin: 0;
    width: 20px;
    height: 20px;
    position: relative;
}

.btr-radio__input[type="radio"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #1B1F2B;
    border-radius: 50px;
    background-color: white;
    box-sizing: border-box;
}

.btr-radio__input[type="radio"]::after {
    content: '';
    position: absolute;
    top: 5.38px;
    left: 5.38px;
    width: 9.23px;
    height: 9.23px;
    border-radius: 50px;
    background-color: #1B1F2B;
    opacity: 0;
    transition: opacity 0.2s;
}

.btr-radio__input[type="radio"]:checked::after {
    opacity: 1;
}

.contract {
    width: 278px;
    height: 69px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}

.contract__input[type="checkbox"] {
    width: 20px;
    height: 20px;
    position: relative;
    top: -20px;
}

.contract__input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
}

.contract__input[type="checkbox"]::after {
    content: url(./materials/Rectangle\ 36\ \(Stroke-360\).png);
    position: absolute;
    left: 5.07px;
    top: 1.5px;
    opacity: 0;
}

.contract__input[type="checkbox"]:checked::after {
    opacity: 1;
}

.contract__p {
    width: 248;
    height: 69px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0%;
    color: #A6A6A6;
}

.contract__span {
    color: black;
}

.button {
    width: 278px;
    height: 47px;
    display: flex;
    justify-content: space-between;
}

.button__a {
    width: 134px;
    height: 47px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    border-radius: 10px;
    background: #286562;
    color: white;
    text-align: center;
    line-height: 47px;
}

.button__reset {
    border: none;
    background: none;
    width: 134px;
    height: 47px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    border-radius: 10px;
    background: #E0F0E5;
    color: #286562;
}

@media (min-width: 1024px) {
    .text2 {
        max-width: 458px;
        height: 159px;
        margin: 0 auto 100px auto;
    }

    .text2__h2 {
        font-size: 59px;
        margin-bottom: 30px;
        line-height: 124%;
    }

    .text2__p {
        font-size: 20px;
    }

    .fields {
        width: 918px;
        border-radius: 50px;
        padding: 60px;
    }

    .field {
        display: grid;
        grid-template-columns: repeat(2, 389px);
        grid-template-rows: repeat(3, auto);
        gap: 33px 20px;
    }

    .where-tour__select {
        width: 389px;
        height: 68px;
        padding: 20px;
        font-size: 20px;
        background-position: right 23px center;
    }

    .where-tour__select:hover {
        background-color: #F4F0E9;
    }

    .where-tour__select:focus {
        border: 1px solid #A6A6A6;
    }

    .field__label {
        font-size: 20px;
    }

    .field__input {
        width: 389px;
        height: 68px;
        padding: 20px;
        font-size: 20px;
    }

    .field__input:hover {
        background-color: #F4F0E9;
    }

    .field__input:focus {
        border: 1px solid #A6A6A6;
    }

    .field__input::placeholder {
        color: #A6A6A6;
        font-size: 20px;
    }

    .textarea {
        font-size: 20px;
        padding: 20px;
        height: 152px;
        width: 798px;
        margin-bottom: 29px;
    }

    .textarea:hover {
        background-color: #F4F0E9;
    }

    .textarea:focus {
        border: 1px solid #A6A6A6;
    }

    .radio {
        width: 798px;
        height: 64px;
        font-size: 20px;
        margin-bottom: 33px;
        line-height: 28px;
    }

    .radio__p {
        width: 798px;
        height: 28px;
        margin-bottom: 7px;
    }

    .btr-radio {
        gap: 31px;
        width: 166px;
        height: 28px;
    }

    .btr-radio__label {
        gap: 11px;
    }

    .btr-radio__input[type="radio"] {
        width: 26px;
        height: 26px;
        cursor: pointer;
    }

    .btr-radio__input[type="radio"]::before {
        width: 26px;
        height: 26px;
    }

    .btr-radio__input[type="radio"]::after {
        top: 7px;
        left: 7px;
        width: 12px;
        height: 12px;
    }

    .contract {
        width: 600px;
        height: 26px;
        gap: 11px;
        margin-bottom: 33px;
    }

    .contract__input[type="checkbox"] {
        width: 26px;
        height: 26px;
        top: 3px;
        cursor: pointer;
    }

    .contract__input[type="checkbox"]::before {
        width: 26px;
        height: 26px;
    }

    .contract__input[type="checkbox"]::after {
        content: url(./materials/Rectangle\ 36\ \(Stroke\).png);
        left: 6.59px;
        top: 6.59px;
    }

    .contract__p {
        height: 24px;
        font-size: 17px;
        letter-spacing: -1%;
    }

    .contract__span:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .contract__span:active {
        color: #286562;
    }

    .button {
        width: 500px;
        height: 58px;
        gap: 33px;
    }

    .button__a {
        width: 235px;
        height: 58px;
        font-size: 20px;
        line-height: 58px;
    }

    .button__a:hover {
        background: #3B7E7B;
    }

    .button__a:active {
        background: #627F7E;
    }

    .button__reset {
        width: 235px;
        height: 58px;
        font-size: 20px;
    }

    .button__reset:hover {
        background: #F1F3F2;
        cursor: pointer;
    }

    .button__reset:active {
        background: #D9DFDB;
    }
}

@media (min-width: 1920px) {
    .fields {
        width: 1170px;
        padding: 72px 70px 70px 70px;
    }

    .field {
        grid-template-columns: repeat(2, 500px);
        gap: 33px 30px;
    }

    .where-tour__select {
        width: 500px;
        height: 68px;
        background-position: right 22px center;
    }

    .field__input {
        width: 500px;
    }

    .textarea {
        width: 1030px;
        margin-bottom: 26px;
    }

    .radio {
        width: 1030px;
    }

    .radio__p {
        width: 1030px;
    }

    .contract {
        width: 570px;
        gap: 19px;
    }
}


/*Отзывы*/

.reviews {
    margin-top: 75px;
    margin-bottom: 75px;
}

.text3 {
    margin: 0 auto 50px auto;
}

.text3__h2 {
    width: 318px;
    height: 76px;
    font-weight: 700;
    font-size: 34px;
    line-height: 114%;
    text-align: center;
    margin: 0 auto 21px auto;
}

.text3__p {
    text-align: center;
    width: 318px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    color: #A6A6A6;
    margin: 0 auto;
}

.card-review {
    width: 318px;
    margin: 0 auto;
}

.card1 {
    box-sizing: border-box;
    width: 318px;
    height: 408px;
    border-radius: 20px;
    background: #F4F0E9;
    padding: 20px;
    margin-bottom: 18px;
}

.card2 {
    box-sizing: border-box;
    width: 318px;
    height: 592px;
    border-radius: 20px;
    background: #F4F0E9;
    padding: 20px;
}

.card1__p {
    font-size: 16px;
    font-weight: 700;
    line-height: 144%;
    width: 270px;
    height: 253px;
}

.card2__p {
    font-size: 16px;
    font-weight: 700;
    line-height: 144%;
    width: 278px;
    height: 437px;
}

.card-person {
    width: 278px;
    height: 115px;
    display: flex;
    box-sizing: border-box;
}

.person {
    margin-top: 56px;
    width: 203px;
    height: 59px;
}

.person__h3 {
    font-size: 23px;
    font-weight: 700;
    width: 203px;
    height: 28px;
    line-height: 122%;
    letter-spacing: 4%;
    margin-bottom: 8px;
}

.person__p {
    font-size: 16px;
    font-weight: 400;
    width: 203px;
    height: 23px;
    line-height: 142%;
    letter-spacing: -1%;
    color: #A6A6A6;
}

.card-person__img {
    margin-top: 40px;
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

@media (min-width: 1024px) {
    .reviews {
        margin-top: 135px;
        margin-bottom: 135px;
    }

    .text3 {
        margin: 0 auto 100px auto;
    }

    .text3__h2 {
        width: 529px;
        height: 146px;
        font-size: 59px;
        line-height: 124%;
        margin-bottom: 30px;
    }

    .text3__p {
        width: 418px;
        height: 56px;
        font-size: 20px;
    }

    .card-review {
        display: grid;
        grid-template-columns: repeat(2, 450px);
        justify-content: center;
        gap: 18px;
        margin: 0 auto;
        max-width: 918px;
    }

    .card1, .card2 {
        width: 450px;
        height: 841px;
        border-radius: 50px;
        padding: 40px;
        justify-content: space-between;
    }

    .card1__p {
        font-size: 23px;
        line-height: 122%;
        width: 365px;
        height: 308px;
        margin-bottom: 308px;
    }

    .card2__p {
        font-size: 23px;
        line-height: 122%;
        width: 370px;
        height: 616px;
    }

    .card-person {
        width: 370px;
        height: 145px;
        padding-top: 70px;
    }

    .person {
        margin-top: 0;
        width: 295px;
        height: 75px;
    }

    .person__h3 {
        font-size: 35px;
        font-weight: 500;
        width: 295px;
        height: 43px;
        line-height: 120%;
        margin-bottom: 10px;
    }

    .person__p {
        font-size: 17px;
        width: 295px;
        height: 24px;
    }

    .card-person__img {
        margin-top: 0;
    }
}

@media (min-width: 1920px) {
    .text3 {
        width: 529px;
        height: 232px;
    }

    .card-review {
        grid-template-columns: repeat(2, 570px);
        gap: 30px;
        max-width: 1170px;
    }

    .card1, .card2 {
        width: 570px;
        height: 673px;
    }

    .card1__p {
        width: 485px;
        height: 252px;
        margin-bottom: 196px;
    }

    .card2__p {
        width: 490px;
        height: 448px;
    }

    .card-person {
        width: 490px;
    }

    .person {
        width: 415px;
    }

    .person__h3 {
        width: 415px;
    }

    .person__p {
        width: 415px;
    }
}


/*Путешествия*/

.text4 {
    width: 360px;
    height: 142px;
    margin: 0 auto 50px auto;
}

.text4__h2 {
    width: 318px;
    height: 76px;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 2%;
    text-align: center;
    margin: 0 auto 20px auto;
}

.text4__p {
    width: 318px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #A6A6A6;
    margin: 0 auto;
}

.gallery-line1, .gallery-line2, .gallery-line3 {
    display: flex;
    width: 318px;
    height: 110px;
    margin: 0 auto;
}

.gallery-line1 {
    gap: 18px;
}

.gallery-line2, .gallery-line3 {
    gap: 10px;
}

.gallery-line1, .gallery-line2 {
    margin-bottom: 18px;
}

.gallery-line1__2, .gallery-line1__3, .gallery-line2__2, .gallery-line2__3, .gallery-line3__3, .gallery-line3__4 {
    display: none;
}

.gallery-line1__1, .gallery-line1__4 {
    width: 150px;
    height: 110px;
    border-radius: 20px;
    object-fit: cover;
}

.gallery-line2__1, .gallery-line2__4, .gallery-line2__5 {
    width: 99.33px;
    height: 110px;
    border-radius: 20px;
    object-fit: cover;
}

.gallery-line3__1, .gallery-line3__2 {
    width: 154px;
    height: 110px;
    border-radius: 20px;
    object-fit: cover;
}

@media (min-width: 1024px) {
    .text4 {
        width: 723px;
        height: 159px;
        margin: -18px auto 100px auto;
        padding: 0;
    }

    .text4__h2 {
        width: 732px;
        height: 73px;
        font-size: 59px;
        line-height: 124%;
        margin-bottom: 30px;
    }

    .text4__p {
        width: 418px;
        height: 56px;
        font-size: 20px;
        margin: 0 auto;
    }

    .gallery-line1, .gallery-line2, .gallery-line3 {
        width: 984px;
        height: 301px;
        gap: 20px;
    }

    .gallery-line1, .gallery-line2 {
        margin-bottom: 30px;
    }

    .gallery-line1__3, .gallery-line2__2, .gallery-line3__3 {
        display: block;
    }

    .gallery-line1__1, .gallery-line1__4, .gallery-line3__1 {
        width: 314.67px;
        height: 300px;
        border-radius: 50px;
        object-fit: cover;
    }

    .gallery-line1__3, .gallery-line3__2, .gallery-line3__3 {
        width: 314.67px;
        height: 301px;
        border-radius: 50px;
        object-fit: cover;
    }

    .gallery-line2__1, .gallery-line2__2, .gallery-line2__4, .gallery-line2__5 {
        width: 231px;
        height: 301px;
        border-radius: 50px;
        object-fit: cover;
    }
}

@media (min-width: 1920px) {

    .gallery-line1, .gallery-line2, .gallery-line3 {
        width: 1860px;
        gap: 30px;
    }

    .gallery-line1, .gallery-line2 {
        margin-bottom: 30px;
    }

    .gallery-line1__2, .gallery-line1__3, .gallery-line2__2, .gallery-line2__3, .gallery-line3__3, .gallery-line3__4 {
        display: block;
    }

    .gallery-line1__1 {
        width: 444px;
        height: 301px;
        border-radius: 50px;
        object-fit: cover;
    }

    .gallery-line1__2, .gallery-line1__3 {
        width: 441.5px;
        height: 301px;
        border-radius: 50px;
        object-fit: cover;
    }

    .gallery-line1__4 {
        width: 443px;
        height: 301px;
        border-radius: 50px;
        object-fit: cover;
    }

    .gallery-line2__1 {
        width: 349.16px;
        height: 301px;
        border-radius: 50px;
        object-fit: cover;
    }

    .gallery-line2__2, .gallery-line2__3, .gallery-line2__4 {
        width: 347.32px;
        height: 301px;
        border-radius: 50px;
        object-fit: cover;
    }

    .gallery-line2__5 {
        width: 348.87px;
        height: 301px;
        border-radius: 50px;
        object-fit: cover;
    }

    .gallery-line3__1, .gallery-line3__4 {
        width: 442.5px;
        height: 300px;
        border-radius: 50px;
        object-fit: cover;
    }

    .gallery-line3__2, .gallery-line3__3 {
        width: 442.5px;
        height: 301px;
        border-radius: 50px;
        object-fit: cover;
    }
}


/*Истории*/

.histiry {
    margin: 75px auto;
}

.text5 {
    text-align: center;
    margin-bottom: 50px;
}

.text5__h2 {
    width: 319px;
    font-weight: 700;
    font-size: 34px;
    line-height: 113%;
    margin: 0 auto 20px auto;
}

.text5__p {
    width: 319px;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    color: #A6A6A6;
    margin: 0 auto;
}

.stories {
    width: 318px;
    margin: 0 auto;
}

.card-stories1, .card-stories2, .card-stories3 {
    position: relative;
    height: 455px;
    border-radius: 20px;
    overflow: hidden;
}

.card-stories1, .card-stories2 {
    margin-bottom: 20px;
}

.card-stories1__img, .card-stories2__img, .card-stories3__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-stories1::after, .card-stories2::after, .card-stories3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
    z-index: 1;
}

.story {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
    color: white;
    width: 263px;
    height: 306px;
    box-sizing: border-box;
}

.story__h3 {
    width: 150px;
    height: 56px;
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
}

.story__p {
    width: 263px;
    height: 230px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
}

.story__ul {
    padding-left: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    position: absolute;
    bottom: 0;
}

.networks {
    display: none;
}

.card-footer__btr {
    position: absolute;
    z-index: 2;
    left: 30px;
    bottom: 29px;
    border: none;
    background: none;
    color: white;
    width: 123px;
    height: 26px;
    font-size: 16px;
    font-weight: 700;
    line-height: 142%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.card-footer__img {
    width: 22px;
    height: 15px;
}

@media (min-width: 1024px) {
    .histiry {
        margin-top: 135px;
        margin-bottom: 135px;
    }

    .text5 {
        margin: 0 auto 100px auto;
    }

    .text5__h2 {
        width: 615px;
        height: 73px;
        font-size: 59px;
        line-height: 124%;
        margin-bottom: 30px;
    }

    .text5__p {
        width: 410px;
        height: 56px;
        font-size: 20px;
    }

    .stories {
        width: 918px;
    }

    .card-stories1, .card-stories2, .card-stories3 {
        width: 918px;
        height: 567px;
        border-radius: 50px;
        cursor: pointer;
    }

    .card-stories1, .card-stories2 {
        margin-bottom: 50px;
    }

    .card-stories1__img, .card-stories2__img, .card-stories3__img {
        transition: all 300ms ease;
    }

    .card-stories1::after, .card-stories2::after, .card-stories3::after {
        border-radius: 50px;
    }

    .card-stories1:hover .card-stories1__img, .card-stories2:hover .card-stories2__img, .card-stories3:hover .card-stories3__img {
        transform: scale(1.2);
    }

    .story {
        width: 918px;
        height: 394px;
        top: 60px;
        left: 60px;
    }

    .story__h3 {
        width: 554px;
        height: 43px;
        font-size: 35px;
        font-weight: 500;
        line-height: 122%;
        margin-bottom: 37px;
    }

    .story__p {
        width: 556px;
        height: 112px;
        font-size: 20px;
    }

    .story__ul {
        padding-left: 35px;
        font-size: 20px;
        bottom: 90px;
        position: relative;
        top: -20px;
        right: 4px;
    }

    .card-footer {
        position: absolute;
        z-index: 2;
        padding: 0 60px;
        top: 450px;
        display: flex;
        width: 918px;
        height: 88px;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .card-footer__btr {
        position: relative;
        display: flex;
        width: 199px;
        height: 42px;
        background: none;
        border: none;
        font-size: 22px;
        font-weight: 700;
        color: white;
        align-items: center;
        padding: 7px 20px;
        border-radius: 50px;
        left: -20px;
        bottom: 0;
        gap: 0;
        cursor: pointer;
    }

    .card-footer__img {
        width: 22px;
        height: 15px;
        margin-left: 15px;
    }

    .card-stories1:hover .card-footer__btr, .card-stories2:hover .card-footer__btr, .card-stories3:hover .card-footer__btr {
        background: #286562;
    }

    .card-stories1 .card-footer__btr:active, .card-stories2 .card-footer__btr:active, .card-stories3 .card-footer__btr:active {
        background: #EFA501;
    }

    .networks {
        display: flex;
    }

    .networks__ul {
        display: flex;
        gap: 39px;
        list-style: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 142%;
    }

    .networks__a {
        color: white;
    }

    .networks__a:hover {
        border-bottom: 1px solid #fff;
    }

    .networks__a:active {
        color: #EFA501;
        border-bottom: 1px solid #EFA501;
    }


}

@media (min-width: 1920px) {
    .stories {
        width: 1170px;
    }

    .card-stories1, .card-stories2, .card-stories3 {
        width: 1170px;
    }

    .story {
        width: 1170px;
    }

    .card-footer {
        width: 1170px;
    }
}


/*Конец*/

.the-and {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-and__img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.text6 {
    margin: 0 auto;
}

.text6__h3 {
    width: 291px;
    height: 56px;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 4%;
    text-align: center;
}

.text6__p {
    width: 300px;
    height: 46px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    color: #A6A6A6;
    text-align: center;
}

.text6__a {
    color: black;
}

@media (min-width: 1024px) {
    .the-and {
        height: 370px;
        display: grid;
        grid-template-columns: 370px 371px;
        gap: 30px;
        justify-content: center;
    }

    .the-and__img {
        width: 370px;
        height: 370px;
        border-radius: 50px;
        margin-bottom: 0;
    }

    .text6 {
        width: 371px;
        height: 162px;
    }

    .text6__h3 {
        width: 371px;
        height: 86px;
        font-size: 35px;
        font-weight: 500;
        line-height: 122%;
        text-align: left;
    }

    .text6__p {
        width: 370px;
        height: 56px;
        font-size: 20px;
        text-align: left;
    }

    .text6__a {
        color: black;
    }

    .text6__a:hover {
        border-bottom: 1px solid black;
        cursor: pointer;
    }

    .text6__a:active {
        border-bottom: 1px solid #286562;
        color: #286562;
    }
}


/*Подвал*/

footer {
    height: 98px;
    background: #F4F0E9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px auto 0 auto;
}

.foot {
    width: 318px;
    height: 56px;
    text-align: center;
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
}

.foot__p {
    margin-bottom: 7px;
}

.social-network {
    color: black;
    width: 313px;
    height: 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 142%;
    display: flex;
    gap: 15px;
    margin: 0 auto;
}

.social-network__a {
    color: black;
    display: flex;
    align-items: center;
    gap: 2px;
}

@media (min-width: 1024px) {
    footer {
        margin-top: 135px;
        height: 88px;
    }

    .foot {
        display: flex;
        width: 918px;
        height: 28px;
        font-size: 20px;
        font-weight: 400;
        justify-content: space-between;
    }

    .social-network {
        width: 408px;
        height: 28px;
        gap: 25px;
        margin: 0;

    }

    .social-network__a {
        gap: 10px;
        font-size: 18px;
        line-height: 142%;
    }

    .social-network__span {
        border-bottom: 1px solid transparent;
    }

    .social-network__a:hover .social-network__span {
        border-bottom: 1px solid black;
        cursor: pointer;
    }

    .social-network__a:active .social-network__span {
        color: #EFA501;
        border-bottom: 1px solid #EFA501;
    }
}

@media (min-width: 1920px) {
    .foot {
        width: 1168px;
    }

}